.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background-color: transparent;
    border: 1px solid var(--neutral-text);
    color: var(--neutral-text);
    font-size: 16px;
    line-height: 120%;
    margin-inline: 104px;
    margin-bottom: 24px;
}