.transaction {
    display: flex;
    justify-content: space-between;
    margin-inline: 16px;

}

.transaction p {
    margin: 0;
}

.date {
    color: var(--neutral-text);
    line-height: 120%;
    font-size: 15;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
    line-height: 120%;
    font-weight: 600;
}

.valueItem {
        font-weight: 400;
}

.income {
    color: var(--secondary-income);
}

.expense {
    color: var(--secondary-expense);

}