.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutral-text);
    margin-inline: 16px;
}

.details {
    display: flex;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100px;

}

.amount p{
    margin: 0;
    padding: 0;
}